.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


footer a:hover {
    text-decoration: none;
}

/* Carousel base class */
.carousel {
    margin-bottom: 0;
    background-color: #010103;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    text-align: center;
}

.carousel-item > img {
    height: 100%;
    margin: 0 auto;
}

.navbar li a, .navbar li span {
    color: #ff6600;
}

.logo {
    height: 30px;
}

.apropos {
    background-color: #f4f4f4;
}

.affiches img {
    height: 400px;
} 

@media (max-width: 400px) {
    .navbar-brand {
        font-size: 0.9em;
    }  
}

footer .icon-facebook{
    color: #4080ff;
    font-size: 20px;
}

footer .icon-youtube {
    font-size: 20px;
    color: red;
}

.card {
    width: 18rem;
    margin-bottom: 20px;
}
